@import "./variables";

@import "../components/NavBar/navBar";
@import "../pages/Login/login";
@import "../pages/Registration/register";
@import "../components/Footer/footer";
@import "../pages/RegisterForm/registerForm";
@import "../pages/Home/home";
@import "../pages/Song/song";


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}